Exercise2.1/node_modules/
Exercise2.2/node_modules/
Exercise2.3/node_modules/
Exercise2.4/node_modules/
Exercise2.5/node_modules/
Exercise2.6/node_modules/
Exercise2.7/node_modules/
Exercise2.8/node_modules/
Exercise2.9/node_modules/
Exercise2.10/node_modules/
Exercise2.11/node_modules/
Exercise2.12/node_modules/
Exercise2.13/node_modules/
Exercise2.14/node_modules/
Exercise2.15/node_modules/
Exercise2.16/node_modules/
Exercise2.17/node_modules/
Exercise2.18/node_modules/
Exercise2.19/node_modules/
Exercise2.20/node_modules/

# Ignore specific configuration files
Exercise2.2/vite.config.js
Exercise2.3/vite.config.js
Exercise2.4/vite.config.js
Exercise2.5/vite.config.js
Exercise2.6/vite.config.js
Exercise2.7/vite.config.js
Exercise2.8/vite.config.js
Exercise2.9/vite.config.js
Exercise2.10/vite.config.js
Exercise2.11/vite.config.js
Exercise2.12/vite.config.js
Exercise2.13/vite.config.js
Exercise2.14/vite.config.js
Exercise2.15/vite.config.js
Exercise2.16/vite.config.js
Exercise2.17/vite.config.js
Exercise2.18/vite.config.js
Exercise2.19/vite.config.js
Exercise2.20/vite.config.js

# Ignore lock and package files in both directories
Exercise2.1/package-lock.json
Exercise2.2/package-lock.json
Exercise2.2/package.json
Exercise2.3/package-lock.json
Exercise2.3/package.json
Exercise2.4/package-lock.json
Exercise2.4/package.json
Exercise2.5/package-lock.json
Exercise2.5/package.json
Exercise2.6/package-lock.json
Exercise2.6/package.json
Exercise2.7/package-lock.json
Exercise2.7/package.json
Exercise2.8/package-lock.json
Exercise2.8/package.json
Exercise2.9/package-lock.json
Exercise2.9/package.json
Exercise2.10/package-lock.json
Exercise2.10/package.json
Exercise2.11/package-lock.json
Exercise2.11/package.json
Exercise2.12/package-lock.json
Exercise2.12/package.json
Exercise2.13/package-lock.json
Exercise2.13/package.json
Exercise2.14/package-lock.json
Exercise2.14/package.json
Exercise2.15/package-lock.json
Exercise2.15/package.json
Exercise2.16/package-lock.json
Exercise2.16/package.json
Exercise2.17/package-lock.json
Exercise2.17/package.json
Exercise2.18/package-lock.json
Exercise2.18/package.json
Exercise2.19/package-lock.json
Exercise2.19/package.json
Exercise2.20/package-lock.json
Exercise2.20/package.json

# Ignore index.html file in both directories
Exercise2.2/index.html
Exercise2.3/index.html
Exercise2.4/index.html
Exercise2.5/index.html
Exercise2.6/index.html
Exercise2.7/index.html
Exercise2.8/index.html
Exercise2.9/index.html
Exercise2.10/index.html
Exercise2.11/index.html
Exercise2.12/index.html
Exercise2.13/index.html
Exercise2.14/index.html
Exercise2.15/index.html
Exercise2.16/index.html
Exercise2.17/index.html
Exercise2.18/index.html
Exercise2.19/index.html
Exercise2.20/index.html
